streamlit
sqlalchemy
pandas
numpy
streamlit
bcrypt
chromadb
langchain
langchain-community
langchain-huggingface
langchain-chroma
google
pymupdf
authlib
email-validator
vertexai
sentence-transformers
watchdog
reportlab
streamlit-pdf-viewer
google_auth_oauthlib